#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.navbar_btn {
  border: solid;
  border-radius: 13px;
  width: 1043px;
  display: flex;
  height: 68px;
  justify-content: space-around;
  align-items: center;
  border-width: 5px;
  border-color: burlywood;
}




.div_space{
  margin-bottom: 160px;
  align-items: center;
  height: 897px;
  width: 1052px;
  background-image: url('https://cdn.pixabay.com/photo/2021/09/23/19/08/background-6650672_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: blue;
  border-radius: 20px;
}

.nav_btn{
  border: snow;
  border-radius: 39px;
  width: 198px;
  height: 54px;
}


.welcome_btn {
  border:solid lightgray;
  border-radius: 20px;
  height: 39px;
  width: 291px;
  border-style: inset;
}

body{
  /* background-image: url('https://cdn.pixabay.com/photo/2017/03/31/15/34/cactus-2191647_1280.jpg'); */
  background-image: url('https://cdn.pixabay.com/photo/2020/06/29/14/46/world-5352923_1280.png');
  background-size: cover;
}


