
/* 
nav_bar{
    display: flex;
    
}

.div_bar{
    border: solid;
    border-radius: 37px;
    width: 538px;
    display: flex;
    height: 68px;
    justify-content: space-around;
    align-items: center;
} */
