


.div_bar {
    border: solid black;
    border-radius: 45px;
    width: 924px;
    display: flex;
    height: 700px;
    justify-content: stretch;
    margin-left: 77px;
    margin-top: 66px;
    flex-direction: column;
}

/* h1{
    color:aqua
} */